@charset "UTF-8";
@import "common";

.wrap {
   width: 1280px;
}
.title {
  padding: 2% 0 5% 10%;
}
#section1 {
  .main01{
    padding: 10% 0 0; 
    img {
      width: 32%;
    }	
  }
  .logo {
    bottom: 0.5%;
	width: 40%;
  }
}

#section2 {
  .wrap {
    .main02 {
	  bottom: 2%;
	  left: 10%;
	  width: 80%;
	  .box01,.box02,.box03,.box04,.box05,.box06,.box07 {
	    
	  }
	  .box08 {
	    img {
	      
		}
	  }
	}
  } 
}

#section4 {
  .main04 {
    .left04 {
	  padding: 2% 0 0;
	}
  }
}


#section5 {
  .wrap {
    .title {
	  padding: 2% 0 5% 10%;
	}
    .main05 {
	  .left05 {
	    padding: 5% 0 0;
	  }
	}
  }
}


#section6 {
  .wrap {
    .title {
	  padding-bottom: 0;
	}
	.main6 {
	  .right6 {
	    margin-top: -6%;
		.rain {
		  font-size: 16px;
		}
		.rain02 {
		  left: 25%;
		}
		.rain03 {
		  left: 35%;
		}
		.rain04 {
		  left: 20%;
		}
		.rain06 {
		  left: 14%;
		}
	  }
	}
  }
}

#section7 .wrap .title {
    padding: 2% 0 3% 10%;
}

#section8 .wrap .title {
    padding: 2% 0 7% 10%;
}

#section9 .wrap div {
    font-size: 28px;
}

