@charset "UTF-8";
/* line 5, ../sass/common.scss */
body {
  color: #333;
  font-family: "微软雅黑","Microsoft YaHei",Lucida,Verdana,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei","Droid Sans Fallback",SimSun,"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 10, ../sass/common.scss */
.title {
  text-align: left;
  padding: 5% 0 12% 10%;
}
/* line 13, ../sass/common.scss */
.title img {
  height: auto;
}

/* line 17, ../sass/common.scss */
.fp-tooltip {
  color: #fff;
}

/* line 21, ../sass/common.scss */
#fp-nav span, .fp-slidesNav span {
  border-color: #fff;
}

/* line 25, ../sass/common.scss */
#fp-nav li .active span, .fp-slidesNav .active span {
  background: #fff;
}

/* line 28, ../sass/common.scss */
.wrap {
  width: 57.15%;
  min-width: 960px;
  max-width: 9600px;
  height: 100%;
  overflow: hidden;
}

/* line 35, ../sass/common.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/common.scss */
#section1 {
  background: url("../imgs/bg001.png") no-repeat top center/100% 80% white !important;
}
/* line 43, ../sass/common.scss */
#section1 .main01 {
  padding: 15% 0 0;
}
/* line 45, ../sass/common.scss */
#section1 .main01 img {
  width: 35%;
  height: auto;
}
/* line 50, ../sass/common.scss */
#section1 .logo {
  width: 45%;
  padding: 0 20%;
  position: absolute;
  bottom: 3%;
  left: 8%;
}
/* line 56, ../sass/common.scss */
#section1 .logo img {
  width: 100%;
}

/* line 64, ../sass/common.scss */
#section2 {
  background-color: #127083 !important;
}
/* line 66, ../sass/common.scss */
#section2 .wrap {
  height: 100%;
}
/* line 69, ../sass/common.scss */
#section2 .wrap .title img {
  width: 20%;
}
/* line 73, ../sass/common.scss */
#section2 .wrap .main02 {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: left;
}
/* line 78, ../sass/common.scss */
#section2 .wrap .main02 .box01, #section2 .wrap .main02 .box02, #section2 .wrap .main02 .box03, #section2 .wrap .main02 .box04, #section2 .wrap .main02 .box05, #section2 .wrap .main02 .box06, #section2 .wrap .main02 .box07, #section2 .wrap .main02 .box09 {
  position: absolute;
  bottom: 100%;
  width: 10%;
  height: auto;
  left: 0;
  margin-right: 1%;
}
/* line 86, ../sass/common.scss */
#section2 .wrap .main02 .box01 {
  left: 1.7%;
}
/* line 89, ../sass/common.scss */
#section2 .wrap .main02 .box02 {
  left: 14%;
}
/* line 92, ../sass/common.scss */
#section2 .wrap .main02 .box03 {
  left: 26.2%;
}
/* line 95, ../sass/common.scss */
#section2 .wrap .main02 .box04 {
  left: 38.5%;
}
/* line 98, ../sass/common.scss */
#section2 .wrap .main02 .box05 {
  left: 51%;
}
/* line 101, ../sass/common.scss */
#section2 .wrap .main02 .box06 {
  position: absolute;
  left: 63.2%;
}
/* line 105, ../sass/common.scss */
#section2 .wrap .main02 .box07 {
  left: 75.5%;
}
/* line 108, ../sass/common.scss */
#section2 .wrap .main02 .box09 {
  left: 88%;
}
/* line 111, ../sass/common.scss */
#section2 .wrap .main02 .box08 {
  width: 100%;
  padding-top: 2%;
  text-align: left;
}
/* line 115, ../sass/common.scss */
#section2 .wrap .main02 .box08 img {
  margin-left: 1.5%;
  width: 97%;
}
/* line 120, ../sass/common.scss */
#section2 .wrap .main02 .img-box {
  width: 100%;
  position: relative;
}

/* line 130, ../sass/common.scss */
#section3 {
  background-color: #127083 !important;
}
/* line 133, ../sass/common.scss */
#section3 .title img {
  width: 43%;
}
/* line 137, ../sass/common.scss */
#section3 .main03 {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
/* line 141, ../sass/common.scss */
#section3 .main03 .left03 {
  width: 29%;
  float: left;
  padding: 0.5% 0 3.2%;
}
/* line 146, ../sass/common.scss */
#section3 .main03 .left03 img {
  width: 100%;
  height: auto;
}
/* line 151, ../sass/common.scss */
#section3 .main03 .right03-box {
  float: right;
  width: 60%;
  position: relative;
}
/* line 155, ../sass/common.scss */
#section3 .main03 .right03-box > img {
  width: 100%;
  height: auto;
}
/* line 159, ../sass/common.scss */
#section3 .main03 .right03-box .right03 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 171, ../sass/common.scss */
#section4 {
  background-color: #127083 !important;
}
/* line 174, ../sass/common.scss */
#section4 .title img {
  width: 43%;
}
/* line 178, ../sass/common.scss */
#section4 .main04 {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
/* line 182, ../sass/common.scss */
#section4 .main04 .left04 {
  width: 24%;
  float: left;
  padding: 0 0 4%;
}
/* line 187, ../sass/common.scss */
#section4 .main04 .left04 img {
  width: 100%;
  height: auto;
}
/* line 192, ../sass/common.scss */
#section4 .main04 .right04-box {
  float: right;
  margin: 2% 0 0;
  width: 63%;
  position: relative;
}
/* line 197, ../sass/common.scss */
#section4 .main04 .right04-box img {
  width: 100%;
}
/* line 200, ../sass/common.scss */
#section4 .main04 .right04-box .right04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 214, ../sass/common.scss */
#section5 {
  background-color: #127083 !important;
}
/* line 216, ../sass/common.scss */
#section5 .wrap {
  height: 100%;
}
/* line 218, ../sass/common.scss */
#section5 .wrap .title {
  padding: 5% 0 12% 10%;
}
/* line 220, ../sass/common.scss */
#section5 .wrap .title img {
  width: 19%;
}
/* line 224, ../sass/common.scss */
#section5 .wrap .main05 {
  margin: 0 auto;
  position: relative;
  width: 90%;
}
/* line 228, ../sass/common.scss */
#section5 .wrap .main05 .left05 {
  float: left;
  width: 20.5%;
  margin-top: 3%;
}
/* line 232, ../sass/common.scss */
#section5 .wrap .main05 .left05 img {
  width: 100%;
  height: auto;
}
/* line 237, ../sass/common.scss */
#section5 .wrap .main05 .right05-box {
  margin: 0;
  float: right;
  position: relative;
  width: 63%;
}
/* line 242, ../sass/common.scss */
#section5 .wrap .main05 .right05-box > img {
  width: 100%;
  height: auto;
}
/* line 246, ../sass/common.scss */
#section5 .wrap .main05 .right05-box .right05 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 261, ../sass/common.scss */
#section6 {
  background-color: #127083 !important;
}
/* line 263, ../sass/common.scss */
#section6 .wrap {
  height: 100%;
}
/* line 265, ../sass/common.scss */
#section6 .wrap .title {
  padding-bottom: 2%;
}
/* line 267, ../sass/common.scss */
#section6 .wrap .title img {
  width: 19%;
}
/* line 271, ../sass/common.scss */
#section6 .wrap .main6 {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
/* line 275, ../sass/common.scss */
#section6 .wrap .main6 .left6 {
  bottom: 10%;
  position: absolute;
  width: 21%;
}
/* line 279, ../sass/common.scss */
#section6 .wrap .main6 .left6 img {
  width: 100%;
  height: auto;
}
/* line 284, ../sass/common.scss */
#section6 .wrap .main6 .right6 {
  float: left;
  width: 65.7%;
  margin-left: 22%;
  position: relative;
}
/* line 289, ../sass/common.scss */
#section6 .wrap .main6 .right6 > img {
  width: 100%;
  height: auto;
  opacity: 1;
}
/* line 295, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain {
  position: absolute;
  z-index: 3;
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  width: 50%;
}
/* line 303, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain img {
  width: 6%;
}
/* line 307, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain01 {
  left: 22%;
  top: 33.5%;
}
/* line 311, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain02 {
  left: 25%;
  top: 42%;
}
/* line 315, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain03 {
  left: 34.5%;
  top: 52%;
}
/* line 319, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain04 {
  bottom: 32%;
  left: 20%;
}
/* line 323, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain05 {
  bottom: 30%;
  right: -7%;
}
/* line 327, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain06 {
  bottom: 16%;
  left: 15%;
}
/* line 331, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain07 {
  right: -19%;
  top: 51%;
}
/* line 335, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain08 {
  right: -26.5%;
  top: 44%;
}
/* line 339, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain09 {
  bottom: 36.5%;
  right: -27.5%;
}
/* line 343, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain10 {
  bottom: 33%;
  right: -16%;
}
/* line 347, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain11 {
  bottom: 22%;
  right: -24%;
}
/* line 351, ../sass/common.scss */
#section6 .wrap .main6 .right6 .rain12 {
  bottom: 14%;
  right: -22%;
}

/* line 363, ../sass/common.scss */
#section7 {
  background-color: #127083 !important;
}
/* line 365, ../sass/common.scss */
#section7 .wrap {
  height: 100%;
}
/* line 367, ../sass/common.scss */
#section7 .wrap .title {
  padding: 5% 0 10% 10%;
}
/* line 369, ../sass/common.scss */
#section7 .wrap .title img {
  width: 34%;
}
/* line 373, ../sass/common.scss */
#section7 .wrap .main7-box {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
/* line 377, ../sass/common.scss */
#section7 .wrap .main7-box img {
  width: 100%;
  height: auto;
}
/* line 381, ../sass/common.scss */
#section7 .wrap .main7-box .main7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 395, ../sass/common.scss */
#section8 {
  background-color: #127083 !important;
}
/* line 398, ../sass/common.scss */
#section8 .title img {
  width: 40%;
}
/* line 402, ../sass/common.scss */
#section8 .main08 {
  width: 50%;
  background: #628b9b !important;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1% 0;
  position: relative;
}
/* line 410, ../sass/common.scss */
#section8 .main08 .text {
  position: absolute;
  right: 6%;
  top: 20%;
  width: 23%;
}
/* line 416, ../sass/common.scss */
#section8 .main08 .text img {
  width: 100%;
}
/* line 420, ../sass/common.scss */
#section8 .main08 .row01, #section8 .main08 .row02, #section8 .main08 .row03, #section8 .main08 .row04, #section8 .main08 .row05 {
  text-align: left;
  width: 90%;
  position: relative;
  left: -200%;
  margin: 3% 0;
}
/* line 427, ../sass/common.scss */
#section8 .main08 .row01 img, #section8 .main08 .row02 img, #section8 .main08 .row03 img, #section8 .main08 .row04 img, #section8 .main08 .row05 img {
  width: 100%;
  height: auto;
}

/* line 438, ../sass/common.scss */
#section9 {
  background-color: #127083 !important;
}
/* line 440, ../sass/common.scss */
#section9 .wrap {
  height: 100%;
  text-align: center;
  padding-top: 17%;
}
/* line 444, ../sass/common.scss */
#section9 .wrap > img {
  width: 38%;
}
/* line 447, ../sass/common.scss */
#section9 .wrap div {
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding-top: 3%;
}

/* line 5, ../sass/desktop.scss */
.wrap {
  width: 960px;
}
