@charset "UTF-8";
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/common.scss */
body {
  color: #333;
  font-family: "微软雅黑","Microsoft YaHei",Lucida,Verdana,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei","Droid Sans Fallback",SimSun,"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 11, ../sass/common.scss */
.title {
  text-align: left;
  padding: 0 0 12% 0;
}
/* line 14, ../sass/common.scss */
.title img {
  height: auto;
}

/* line 18, ../sass/common.scss */
.fp-tooltip {
  color: #fff;
}

/* line 22, ../sass/common.scss */
#fp-nav span, .fp-slidesNav span {
  border-color: #fff;
}

/* line 26, ../sass/common.scss */
#fp-nav li .active span, .fp-slidesNav .active span {
  background: #fff;
}

/* line 29, ../sass/common.scss */
.wrap {
  width: 57.15%;
  min-width: 960px;
  max-width: 9600px;
  height: 100%;
  overflow: hidden;
}

/* line 36, ../sass/common.scss */
.clear {
  clear: both;
}

/* line 42, ../sass/common.scss */
#section1 {
  background: url("../imgs/bg001.png") no-repeat top center/100% 80% white !important;
}
/* line 44, ../sass/common.scss */
#section1 .main01 {
  padding: 15% 0 0;
}
/* line 46, ../sass/common.scss */
#section1 .main01 img {
  width: 35%;
  height: auto;
}
/* line 51, ../sass/common.scss */
#section1 .logo {
  width: 45%;
  margin: 0 auto;
  padding: 0 20%;
  position: absolute;
  bottom: 3%;
  left: 8%;
}
/* line 59, ../sass/common.scss */
#section1 .logo .logo01 {
  float: left;
  width: 52%;
}
/* line 62, ../sass/common.scss */
#section1 .logo .logo01 img {
  width: 100%;
  height: auto;
  max-height: 480px;
}
/* line 68, ../sass/common.scss */
#section1 .logo .heart {
  float: right;
  width: 20%;
  margin-top: -3%;
}
/* line 72, ../sass/common.scss */
#section1 .logo .heart img {
  width: 100%;
  height: auto;
  max-height: 182px;
}

/* line 83, ../sass/common.scss */
#section2 {
    /*background: -moz-linear-gradient(left, #7ac23c, #33a96d); !important;
	background: -o-linear-gradient(top,#7ac23c, #33a96d);  !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ac23c), to(#33a96d));  !important;*/
  background-color: #76BD46 !important;
}
/* line 88, ../sass/common.scss */
#section2 .wrap {
  height: 100%;
}
/* line 90, ../sass/common.scss */
#section2 .wrap .title01 {
  text-align: center;
  padding-top: 40%;
  margin: 0 auto;
  clear: both;
}
/* line 96, ../sass/common.scss */
#section2 .wrap .title01 img {
  width: 50%;
  height: auto;
}
/* line 101, ../sass/common.scss */
#section2 .wrap #flower {
  height: 30%;
  width: 42.3%;
  position: absolute;
  bottom: 0;
  left: 29%;
  background: url("../imgs/flower-b.png") no-repeat bottom center;
}
/* line 108, ../sass/common.scss */
#section2 .wrap #flower .flower01 {
  position: absolute;
  bottom: 30%;
  left: 0;
}
/* line 113, ../sass/common.scss */
#section2 .wrap #flower .flower02 {
  position: absolute;
  bottom: 65%;
  left: 19%;
}
/* line 118, ../sass/common.scss */
#section2 .wrap #flower .flower03 {
  position: absolute;
  bottom: 48%;
  left: 49%;
}
/* line 123, ../sass/common.scss */
#section2 .wrap #flower .flower04 {
  position: absolute;
  bottom: 37%;
  left: 80.5%;
}

/* line 134, ../sass/common.scss */
#section3 {
  background-color: #22313C !important;
}
/* line 136, ../sass/common.scss */
#section3 .wrap {
  height: 100%;
}
/* line 139, ../sass/common.scss */
#section3 .wrap .title img {
  width: 24%;
}
/* line 143, ../sass/common.scss */
#section3 .wrap .main03 {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: left;
}
/* line 148, ../sass/common.scss */
#section3 .wrap .main03 .box01, #section3 .wrap .main03 .box02, #section3 .wrap .main03 .box03, #section3 .wrap .main03 .box04, #section3 .wrap .main03 .box05, #section3 .wrap .main03 .box06, #section3 .wrap .main03 .box07 {
  position: absolute;
  bottom: 100%;
  width: 10%;
  height: auto;
  left: 0;
  margin-right: 1%;
}
/* line 156, ../sass/common.scss */
#section3 .wrap .main03 .box02 {
  position: absolute;
  left: 12.5%;
}
/* line 160, ../sass/common.scss */
#section3 .wrap .main03 .box03 {
  position: absolute;
  left: 25%;
}
/* line 164, ../sass/common.scss */
#section3 .wrap .main03 .box04 {
  position: absolute;
  left: 37.3%;
}
/* line 168, ../sass/common.scss */
#section3 .wrap .main03 .box05 {
  position: absolute;
  left: 49.7%;
}
/* line 172, ../sass/common.scss */
#section3 .wrap .main03 .box06 {
  position: absolute;
  left: 62%;
}
/* line 176, ../sass/common.scss */
#section3 .wrap .main03 .box07 {
  left: 74.4%;
}
/* line 180, ../sass/common.scss */
#section3 .wrap .main03 .box08 {
  width: 100%;
  padding-top: 2%;
  text-align: left;
}
/* line 184, ../sass/common.scss */
#section3 .wrap .main03 .box08 img {
  margin-left: 3%;
  width: 81.5%;
}
/* line 189, ../sass/common.scss */
#section3 .wrap .main03 .img-box {
  width: 100%;
  position: relative;
}

/* line 199, ../sass/common.scss */
#section4 {
  background-color: #44B9A3 !important;
}
/* line 202, ../sass/common.scss */
#section4 .title img {
  width: 24%;
}
/* line 206, ../sass/common.scss */
#section4 .main04 {
  width: 59.6%;
  background: url("../imgs/in2-bg.png") repeat bottom center transparent !important;
  border-radius: 5px;
  margin: 0 0 0 17.8%;
  padding: 2% 0;
  position: relative;
  float: left;
}
/* line 214, ../sass/common.scss */
#section4 .main04 .text {
  position: absolute;
  right: 6%;
  top: 20%;
  width: 23%;
}
/* line 220, ../sass/common.scss */
#section4 .main04 .text img {
  width: 100%;
}
/* line 224, ../sass/common.scss */
#section4 .main04 .row01, #section4 .main04 .row02, #section4 .main04 .row03, #section4 .main04 .row04 {
  text-align: left;
  width: 95.5%;
  position: relative;
  left: -746px;
}
/* line 230, ../sass/common.scss */
#section4 .main04 .row01 img, #section4 .main04 .row02 img, #section4 .main04 .row03 img, #section4 .main04 .row04 img {
  width: 100%;
  height: auto;
}

/* line 240, ../sass/common.scss */
#section5 {
  background-color: #76bd46 !important;
}
/* line 243, ../sass/common.scss */
#section5 .title img {
  width: 40%;
}
/* line 247, ../sass/common.scss */
#section5 .main05 {
  width: 76.5%;
  height: auto;
}
/* line 250, ../sass/common.scss */
#section5 .main05 .left05 {
  width: 36.7%;
  float: left;
  padding: 0.5% 0 3.2%;
}
/* line 255, ../sass/common.scss */
#section5 .main05 .left05 img {
  width: 100%;
  height: auto;
}
/* line 260, ../sass/common.scss */
#section5 .main05 .right05 {
  float: right;
  width: 59.1%;
  height: 250px;
}

/* line 269, ../sass/common.scss */
#section6 {
  background-color: #f39834 !important;
}
/* line 272, ../sass/common.scss */
#section6 .title img {
  width: 40.4%;
}
/* line 276, ../sass/common.scss */
#section6 .main06 {
  width: 78%;
  height: auto;
}
/* line 279, ../sass/common.scss */
#section6 .main06 .left06 {
  width: 23.8%;
  float: left;
  padding: 0 0 4%;
}
/* line 284, ../sass/common.scss */
#section6 .main06 .left06 img {
  width: 100%;
  height: auto;
}
/* line 289, ../sass/common.scss */
#section6 .main06 .right06 {
  float: right;
  width: 59.1%;
  height: 250px;
  padding-top: 2%;
  background: url("../imgs/in4-rbg.png") no-repeat bottom right/100% auto;
}

/* line 300, ../sass/common.scss */
#section7 {
  background-color: #22313C !important;
}
/* line 302, ../sass/common.scss */
#section7 .wrap {
  height: 100%;
}
/* line 305, ../sass/common.scss */
#section7 .wrap .title img {
  width: 40.3%;
}
/* line 309, ../sass/common.scss */
#section7 .wrap .main07 {
  position: relative;
  text-align: left;
}
/* line 312, ../sass/common.scss */
#section7 .wrap .main07 > img {
  width: 80%;
  height: auto;
}
/* line 316, ../sass/common.scss */
#section7 .wrap .main07 .zz {
  bottom: 0;
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 22%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  line-height: 37px;
  padding: 2px 0;
}
/* line 327, ../sass/common.scss */
#section7 .wrap .main07 .zz .zz-b {
  font-weight: bold;
}
/* line 331, ../sass/common.scss */
#section7 .wrap .main07 .icon01 {
  bottom: 3%;
  left: 0;
  position: absolute;
  width: 11%;
  z-index: 5;
}
/* line 337, ../sass/common.scss */
#section7 .wrap .main07 .icon01 img {
  width: 100%;
}
/* line 341, ../sass/common.scss */
#section7 .wrap .main07 .icon02 {
  left: 17%;
  position: absolute;
  top: 13%;
  width: 17%;
  z-index: 5;
}
/* line 347, ../sass/common.scss */
#section7 .wrap .main07 .icon02 img {
  width: 100%;
}
/* line 351, ../sass/common.scss */
#section7 .wrap .main07 .icon03 {
  bottom: 10%;
  left: 26%;
  position: absolute;
  width: 15%;
  z-index: 5;
}
/* line 357, ../sass/common.scss */
#section7 .wrap .main07 .icon03 img {
  width: 100%;
}
/* line 361, ../sass/common.scss */
#section7 .wrap .main07 .icon04 {
  bottom: 33%;
  left: 47%;
  position: absolute;
  width: 10%;
  z-index: 5;
}
/* line 367, ../sass/common.scss */
#section7 .wrap .main07 .icon04 img {
  width: 100%;
}
/* line 371, ../sass/common.scss */
#section7 .wrap .main07 .icon05 {
  left: 62%;
  position: absolute;
  top: 9%;
  width: 18%;
  z-index: 5;
}
/* line 377, ../sass/common.scss */
#section7 .wrap .main07 .icon05 img {
  width: 100%;
}

/* line 387, ../sass/common.scss */
#section8 {
  background-color: #44B9A3 !important;
}
/* line 389, ../sass/common.scss */
#section8 .wrap {
  height: 100%;
}
/* line 392, ../sass/common.scss */
#section8 .wrap .title img {
  width: 40%;
}
/* line 397, ../sass/common.scss */
#section8 .wrap .main08 .left08 {
  float: left;
  width: 18.5%;
  padding: 3% 7% 0 0;
}
/* line 401, ../sass/common.scss */
#section8 .wrap .main08 .left08 img {
  width: 100%;
  height: auto;
}
/* line 406, ../sass/common.scss */
#section8 .wrap .main08 .right08 {
  float: left;
  width: 46.5%;
  position: relative;
}
/* line 412, ../sass/common.scss */
#section8 .wrap .main08 .right08 > img {
  width: 100%;
  height: auto;
}
/* line 416, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan {
  width: 22%;
  position: absolute;
}
/* line 419, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan img {
  width: 100%;
  height: auto;
}
/* line 424, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan01 {
  bottom: 38.7%;
  left: 3.2%;
  z-index: 3;
}
/* line 429, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan02 {
  bottom: 64%;
  left: 13.5%;
  z-index: 3;
}
/* line 434, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan03 {
  left: 38.8%;
  top: 3.5%;
  z-index: 3;
}
/* line 439, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan04 {
  right: 14%;
  top: 14%;
  z-index: 3;
}
/* line 444, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan05 {
  bottom: 38.7%;
  right: 3.4%;
  z-index: 3;
}
/* line 449, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan06 {
  bottom: 13.4%;
  right: 13.8%;
  z-index: 3;
}
/* line 454, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan07 {
  bottom: 3.5%;
  left: 39%;
  z-index: 3;
}
/* line 459, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan08 {
  bottom: 13.4%;
  left: 13.8%;
  z-index: 3;
}

/* line 471, ../sass/common.scss */
#section9 {
  background-color: #76BD46 !important;
}
/* line 473, ../sass/common.scss */
#section9 .wrap {
  height: 100%;
}
/* line 476, ../sass/common.scss */
#section9 .wrap .title img {
  width: 23.5%;
}
/* line 481, ../sass/common.scss */
#section9 .wrap .main09 .left09 {
  float: left;
  width: 18.5%;
}
/* line 484, ../sass/common.scss */
#section9 .wrap .main09 .left09 img {
  width: 100%;
  height: auto;
}
/* line 489, ../sass/common.scss */
#section9 .wrap .main09 .right09 {
  float: right;
}

/* line 498, ../sass/common.scss */
#section10 {
  background-color: #F39935 !important;
}
/* line 500, ../sass/common.scss */
#section10 .wrap {
  height: 100%;
}
/* line 503, ../sass/common.scss */
#section10 .wrap .title img {
  width: 40.3%;
}

/* line 512, ../sass/common.scss */
#section11 {
  background-color: #21303d !important;
}
/* line 514, ../sass/common.scss */
#section11 .wrap {
  height: 100%;
}
/* line 517, ../sass/common.scss */
#section11 .wrap .title img {
  width: 40.3%;
}

/* line 526, ../sass/common.scss */
#section12 {
  background-color: #44B9A3 !important;
}
/* line 528, ../sass/common.scss */
#section12 .wrap {
  height: 100%;
}
/* line 531, ../sass/common.scss */
#section12 .wrap .title img {
  width: 40.3%;
}

/* line 540, ../sass/common.scss */
#section13 {
  background-color: #76BD46 !important;
}
/* line 542, ../sass/common.scss */
#section13 .wrap {
  height: 100%;
}
/* line 545, ../sass/common.scss */
#section13 .wrap .title img {
  width: 40.3%;
}

/* line 554, ../sass/common.scss */
#section14 {
  background-color: #f39834 !important;
}
/* line 556, ../sass/common.scss */
#section14 .wrap {
  height: 100%;
}
/* line 559, ../sass/common.scss */
#section14 .wrap .title img {
  width: 40.3%;
}

/* line 568, ../sass/common.scss */
#section15 {
  background-color: #22313C !important;
}
/* line 570, ../sass/common.scss */
#section15 .wrap {
  height: 100%;
}
/* line 573, ../sass/common.scss */
#section15 .wrap .title img {
  width: 40.3%;
}

/* line 582, ../sass/common.scss */
#section16 {
  background-color: #76BD46 !important;
}
/* line 584, ../sass/common.scss */
#section16 .wrap {
  height: 100%;
}
/* line 587, ../sass/common.scss */
#section16 .wrap .title img {
  width: 40.3%;
}

/* line 596, ../sass/common.scss */
#section17 {
  background-color: #f39834 !important;
}
/* line 598, ../sass/common.scss */
#section17 .wrap {
  height: 100%;
}
/* line 601, ../sass/common.scss */
#section17 .wrap .title img {
  width: 40.3%;
}

/* line 610, ../sass/common.scss */
#section18 {
  background-color: #C81533 !important;
}
/* line 612, ../sass/common.scss */
#section18 .wrap {
  height: 100%;
}
/* line 615, ../sass/common.scss */
#section18 .wrap .title img {
  width: 40.3%;
}

/* line 4, ../sass/desktop.scss */
body {
  font-size: 12px;
}

/* line 7, ../sass/desktop.scss */
.wrap {
  width: 960px;
}

/* line 12, ../sass/desktop.scss */
#section2 .wrap #flower {
  height: 240px;
}
