@charset "UTF-8";
/* line 5, ../sass/common.scss */
body {
  color: #333;
  font-family: "微软雅黑","Microsoft YaHei",Lucida,Verdana,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei","Droid Sans Fallback",SimSun,"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 10, ../sass/common.scss */
.title {
  text-align: left;
  padding: 5% 0 12%;
}
/* line 13, ../sass/common.scss */
.title img {
  height: auto;
}

/* line 17, ../sass/common.scss */
.fp-tooltip {
  color: #fff;
}

/* line 21, ../sass/common.scss */
#fp-nav span, .fp-slidesNav span {
  border-color: #fff;
}

/* line 25, ../sass/common.scss */
#fp-nav li .active span, .fp-slidesNav .active span {
  background: #fff;
}

/* line 28, ../sass/common.scss */
.wrap {
  width: 57.15%;
  min-width: 960px;
  max-width: 9600px;
  height: 100%;
  overflow: hidden;
}

/* line 35, ../sass/common.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/common.scss */
#section1 {
  background: url("../imgs/bg001.png") no-repeat top center/100% 80% white !important;
}
/* line 43, ../sass/common.scss */
#section1 .main01 {
  padding: 15% 0 0;
}
/* line 45, ../sass/common.scss */
#section1 .main01 img {
  width: 35%;
  height: auto;
}
/* line 50, ../sass/common.scss */
#section1 .logo {
  width: 45%;
  padding: 0 20%;
  position: absolute;
  bottom: 3%;
  left: 8%;
}
/* line 56, ../sass/common.scss */
#section1 .logo img {
  width: 100%;
}

/* line 64, ../sass/common.scss */
#section2 {
    /*background: -moz-linear-gradient(left, #7ac23c, #33a96d); !important;
	background: -o-linear-gradient(top,#7ac23c, #33a96d);  !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ac23c), to(#33a96d));  !important;*/
  background-color: #127083 !important;
}
/* line 69, ../sass/common.scss */
#section2 .wrap {
  height: 100%;
}
/* line 71, ../sass/common.scss */
#section2 .wrap .title01 {
  text-align: center;
  padding-top: 30%;
  margin: 0 auto;
  clear: both;
}
/* line 77, ../sass/common.scss */
#section2 .wrap .title01 img {
  width: 50.1%;
  height: auto;
}
/* line 82, ../sass/common.scss */
#section2 .wrap #flower {
  height: 30%;
  width: 42.3%;
  position: absolute;
  bottom: 0;
  left: 29%;
  background: url("../imgs/flower-b.png") no-repeat bottom center;
}
/* line 89, ../sass/common.scss */
#section2 .wrap #flower .flower01 {
  position: absolute;
  bottom: 30%;
  left: 0;
}
/* line 94, ../sass/common.scss */
#section2 .wrap #flower .flower02 {
  position: absolute;
  bottom: 65%;
  left: 19%;
}
/* line 99, ../sass/common.scss */
#section2 .wrap #flower .flower03 {
  position: absolute;
  bottom: 48%;
  left: 49%;
}
/* line 104, ../sass/common.scss */
#section2 .wrap #flower .flower04 {
  position: absolute;
  bottom: 37%;
  left: 80.5%;
}

/* line 115, ../sass/common.scss */
#section3 {
  background-color: #127083 !important;
}
/* line 117, ../sass/common.scss */
#section3 .wrap {
  height: 100%;
}
/* line 120, ../sass/common.scss */
#section3 .wrap .title img {
  width: 20%;
}
/* line 124, ../sass/common.scss */
#section3 .wrap .main03 {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: left;
}
/* line 129, ../sass/common.scss */
#section3 .wrap .main03 .box01, #section3 .wrap .main03 .box02, #section3 .wrap .main03 .box03, #section3 .wrap .main03 .box04, #section3 .wrap .main03 .box05, #section3 .wrap .main03 .box06, #section3 .wrap .main03 .box07 {
  position: absolute;
  bottom: 100%;
  width: 10%;
  height: auto;
  left: 0;
  margin-right: 1%;
}
/* line 137, ../sass/common.scss */
#section3 .wrap .main03 .box02 {
  position: absolute;
  left: 12.5%;
}
/* line 141, ../sass/common.scss */
#section3 .wrap .main03 .box03 {
  position: absolute;
  left: 25%;
}
/* line 145, ../sass/common.scss */
#section3 .wrap .main03 .box04 {
  position: absolute;
  left: 37.3%;
}
/* line 149, ../sass/common.scss */
#section3 .wrap .main03 .box05 {
  position: absolute;
  left: 49.7%;
}
/* line 153, ../sass/common.scss */
#section3 .wrap .main03 .box06 {
  position: absolute;
  left: 62%;
}
/* line 157, ../sass/common.scss */
#section3 .wrap .main03 .box07 {
  left: 74.4%;
}
/* line 161, ../sass/common.scss */
#section3 .wrap .main03 .box08 {
  width: 100%;
  padding-top: 2%;
  text-align: left;
}
/* line 165, ../sass/common.scss */
#section3 .wrap .main03 .box08 img {
  margin-left: 3%;
  width: 81.5%;
}
/* line 170, ../sass/common.scss */
#section3 .wrap .main03 .img-box {
  width: 100%;
  position: relative;
}

/* line 180, ../sass/common.scss */
#section4 {
  background-color: #127083 !important;
}
/* line 183, ../sass/common.scss */
#section4 .title img {
  width: 20%;
}
/* line 187, ../sass/common.scss */
#section4 .main04 {
  width: 48%;
  background: #628b9b !important;
  border-radius: 5px;
  margin: 0 0 0 17.8%;
  padding: 2% 0;
  position: relative;
  float: left;
}
/* line 195, ../sass/common.scss */
#section4 .main04 .text {
  position: absolute;
  right: 6%;
  top: 20%;
  width: 23%;
}
/* line 201, ../sass/common.scss */
#section4 .main04 .text img {
  width: 100%;
}
/* line 205, ../sass/common.scss */
#section4 .main04 .row01, #section4 .main04 .row02, #section4 .main04 .row03, #section4 .main04 .row04 {
  text-align: left;
  width: 120%;
  position: relative;
  left: -746px;
}
/* line 211, ../sass/common.scss */
#section4 .main04 .row01 img, #section4 .main04 .row02 img, #section4 .main04 .row03 img, #section4 .main04 .row04 img {
  width: 100%;
  height: auto;
}

/* line 221, ../sass/common.scss */
#section5 {
  background-color: #127083 !important;
}
/* line 224, ../sass/common.scss */
#section5 .title img {
  width: 36%;
}
/* line 228, ../sass/common.scss */
#section5 .main05 {
  width: 76.5%;
  height: auto;
}
/* line 231, ../sass/common.scss */
#section5 .main05 .left05 {
  width: 36.7%;
  float: left;
  padding: 0.5% 0 3.2%;
}
/* line 236, ../sass/common.scss */
#section5 .main05 .left05 img {
  width: 100%;
  height: auto;
}
/* line 241, ../sass/common.scss */
#section5 .main05 .right05-box {
  float: right;
  width: 59.1%;
  position: relative;
}
/* line 245, ../sass/common.scss */
#section5 .main05 .right05-box > img {
  width: 100%;
  height: auto;
}
/* line 249, ../sass/common.scss */
#section5 .main05 .right05-box .right05 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 261, ../sass/common.scss */
#section6 {
  background-color: #127083 !important;
}
/* line 264, ../sass/common.scss */
#section6 .title img {
  width: 36%;
}
/* line 268, ../sass/common.scss */
#section6 .main06 {
  width: 78%;
  height: auto;
}
/* line 271, ../sass/common.scss */
#section6 .main06 .left06 {
  width: 27.8%;
  float: left;
  padding: 0 0 4%;
}
/* line 276, ../sass/common.scss */
#section6 .main06 .left06 img {
  width: 100%;
  height: auto;
}
/* line 281, ../sass/common.scss */
#section6 .main06 .right06-box {
  float: left;
  margin: 2% 0 0 12%;
  width: 60%;
  position: relative;
}
/* line 286, ../sass/common.scss */
#section6 .main06 .right06-box img {
  width: 100%;
}
/* line 289, ../sass/common.scss */
#section6 .main06 .right06-box .right06 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 302, ../sass/common.scss */
#section7 {
  background-color: #127083 !important;
}
/* line 304, ../sass/common.scss */
#section7 .wrap {
  height: 100%;
}
/* line 307, ../sass/common.scss */
#section7 .wrap .title img {
  width: 36%;
}
/* line 311, ../sass/common.scss */
#section7 .wrap .main07 {
  position: relative;
  text-align: left;
}
/* line 314, ../sass/common.scss */
#section7 .wrap .main07 > img {
  width: 80%;
  height: auto;
}
/* line 318, ../sass/common.scss */
#section7 .wrap .main07 .zz {
  bottom: 0;
  position: absolute;
  right: 22%;
  width: 18.5%;
}
/* line 323, ../sass/common.scss */
#section7 .wrap .main07 .zz img {
  width: 100%;
}
/* line 328, ../sass/common.scss */
#section7 .wrap .main07 .icon01 {
  bottom: 3%;
  left: 0;
  position: absolute;
  width: 11%;
  z-index: 5;
}
/* line 334, ../sass/common.scss */
#section7 .wrap .main07 .icon01 img {
  width: 100%;
}
/* line 338, ../sass/common.scss */
#section7 .wrap .main07 .icon02 {
  left: 17%;
  position: absolute;
  top: 13%;
  width: 17%;
  z-index: 5;
}
/* line 344, ../sass/common.scss */
#section7 .wrap .main07 .icon02 img {
  width: 100%;
}
/* line 348, ../sass/common.scss */
#section7 .wrap .main07 .icon03 {
  bottom: 10%;
  left: 26%;
  position: absolute;
  width: 15%;
  z-index: 5;
}
/* line 354, ../sass/common.scss */
#section7 .wrap .main07 .icon03 img {
  width: 100%;
}
/* line 358, ../sass/common.scss */
#section7 .wrap .main07 .icon04 {
  bottom: 33%;
  left: 47%;
  position: absolute;
  width: 10%;
  z-index: 5;
}
/* line 364, ../sass/common.scss */
#section7 .wrap .main07 .icon04 img {
  width: 100%;
}
/* line 368, ../sass/common.scss */
#section7 .wrap .main07 .icon05 {
  left: 62%;
  position: absolute;
  top: 9%;
  width: 18%;
  z-index: 5;
}
/* line 374, ../sass/common.scss */
#section7 .wrap .main07 .icon05 img {
  width: 100%;
}

/* line 384, ../sass/common.scss */
#section8 {
  background-color: #127083 !important;
}
/* line 386, ../sass/common.scss */
#section8 .wrap {
  height: 100%;
}
/* line 388, ../sass/common.scss */
#section8 .wrap .title {
  padding-bottom: 5%;
}
/* line 390, ../sass/common.scss */
#section8 .wrap .title img {
  width: 36%;
}
/* line 395, ../sass/common.scss */
#section8 .wrap .main08 .left08 {
  float: left;
  width: 18.5%;
  padding: 3% 7% 0 0;
}
/* line 399, ../sass/common.scss */
#section8 .wrap .main08 .left08 img {
  width: 100%;
  height: auto;
}
/* line 404, ../sass/common.scss */
#section8 .wrap .main08 .right08 {
  float: left;
  width: 46.5%;
  position: relative;
}
/* line 410, ../sass/common.scss */
#section8 .wrap .main08 .right08 > img {
  width: 100%;
  height: auto;
}
/* line 414, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan {
  width: 22%;
  position: absolute;
}
/* line 417, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan img {
  width: 100%;
  height: auto;
}
/* line 422, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan01 {
  bottom: 38.7%;
  left: 3.2%;
  z-index: 3;
}
/* line 427, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan02 {
  bottom: 64%;
  left: 13.5%;
  z-index: 3;
}
/* line 432, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan03 {
  left: 38.8%;
  top: 3.5%;
  z-index: 3;
}
/* line 437, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan04 {
  right: 14%;
  top: 14%;
  z-index: 3;
}
/* line 442, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan05 {
  bottom: 38.7%;
  right: 3.4%;
  z-index: 3;
}
/* line 447, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan06 {
  bottom: 13.4%;
  right: 13.8%;
  z-index: 3;
}
/* line 452, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan07 {
  bottom: 3.5%;
  left: 39%;
  z-index: 3;
}
/* line 457, ../sass/common.scss */
#section8 .wrap .main08 .right08 .yuan08 {
  bottom: 13.4%;
  left: 13.8%;
  z-index: 3;
}

/* line 469, ../sass/common.scss */
#section9 {
  background-color: #127083 !important;
}
/* line 471, ../sass/common.scss */
#section9 .wrap {
  height: 100%;
}
/* line 474, ../sass/common.scss */
#section9 .wrap .title img {
  width: 15.7%;
}
/* line 479, ../sass/common.scss */
#section9 .wrap .main09 .left09 {
  float: left;
  width: 18.5%;
}
/* line 483, ../sass/common.scss */
#section9 .wrap .main09 .left09 img {
  width: 100%;
  height: auto;
}
/* line 488, ../sass/common.scss */
#section9 .wrap .main09 .right09-box {
  float: left;
  width: 46.1%;
  margin: 0 0 0 12%;
  position: relative;
}
/* line 493, ../sass/common.scss */
#section9 .wrap .main09 .right09-box > img {
  width: 100%;
  height: auto;
}
/* line 497, ../sass/common.scss */
#section9 .wrap .main09 .right09-box .right09 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../imgs/in7-r-bg.png") no-repeat bottom right/100% auto;
}

/* line 512, ../sass/common.scss */
#section10 {
  background-color: #127083 !important;
}
/* line 514, ../sass/common.scss */
#section10 .wrap {
  height: 100%;
}
/* line 516, ../sass/common.scss */
#section10 .wrap .title {
  padding-bottom: 2%;
}
/* line 518, ../sass/common.scss */
#section10 .wrap .title img {
  width: 15.7%;
}
/* line 522, ../sass/common.scss */
#section10 .wrap .main10 {
  position: relative;
}
/* line 524, ../sass/common.scss */
#section10 .wrap .main10 .left10 {
  bottom: 10%;
  position: absolute;
  width: 18.5%;
}
/* line 528, ../sass/common.scss */
#section10 .wrap .main10 .left10 img {
  width: 100%;
  height: auto;
}
/* line 533, ../sass/common.scss */
#section10 .wrap .main10 .right10 {
  float: left;
  width: 46.1%;
  margin-left: 18.5%;
  width: 59.2%;
  position: relative;
}
/* line 540, ../sass/common.scss */
#section10 .wrap .main10 .right10 > img {
  width: 100%;
  height: auto;
  opacity: 1;
}
/* line 546, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain {
  position: absolute;
  z-index: 3;
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  width: 50%;
}
/* line 554, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain img {
  width: 6%;
}
/* line 558, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain01 {
  left: 22%;
  top: 33.5%;
}
/* line 562, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain02 {
  left: 29.5%;
  top: 42%;
}
/* line 566, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain03 {
  left: 34.5%;
  top: 52%;
}
/* line 570, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain04 {
  bottom: 32%;
  left: 24%;
}
/* line 574, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain05 {
  bottom: 30%;
  right: -7%;
}
/* line 578, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain06 {
  bottom: 16%;
  left: 16.5%;
}
/* line 582, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain07 {
  right: -19%;
  top: 51%;
}
/* line 586, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain08 {
  right: -26.5%;
  top: 44%;
}
/* line 590, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain09 {
  bottom: 36.5%;
  right: -27.5%;
}
/* line 594, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain10 {
  bottom: 33%;
  right: -16%;
}
/* line 598, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain11 {
  bottom: 22%;
  right: -24%;
}
/* line 602, ../sass/common.scss */
#section10 .wrap .main10 .right10 .rain12 {
  bottom: 14%;
  right: -22%;
}

/* line 614, ../sass/common.scss */
#section11 {
  background-color: #127083 !important;
}
/* line 616, ../sass/common.scss */
#section11 .wrap {
  height: 100%;
}
/* line 618, ../sass/common.scss */
#section11 .wrap .title {
  padding-bottom: 7%;
}
/* line 620, ../sass/common.scss */
#section11 .wrap .title img {
  width: 20.5%;
}
/* line 624, ../sass/common.scss */
#section11 .wrap .main11 {
  position: relative;
}
/* line 626, ../sass/common.scss */
#section11 .wrap .main11 .left11-01 {
  width: 18.8%;
  float: left;
  padding: 10% 2.5% 0 0;
}
/* line 630, ../sass/common.scss */
#section11 .wrap .main11 .left11-01 img {
  width: 100%;
  height: auto;
}
/* line 635, ../sass/common.scss */
#section11 .wrap .main11 .left11-02 {
  background-color: #4f7f8f;
  width: 36%;
  text-align: left;
  padding: 1% 2.5% 1% 1.7%;
  float: left;
}
/* line 641, ../sass/common.scss */
#section11 .wrap .main11 .left11-02 .text11 {
  padding: 1.5% 0;
  clear: both;
}
/* line 644, ../sass/common.scss */
#section11 .wrap .main11 .left11-02 .text11 img {
  width: 100%;
  float: left;
}
/* line 648, ../sass/common.scss */
#section11 .wrap .main11 .left11-02 .text11 .text11-01 {
  background-color: #38B1A0;
  color: #fff;
  padding: 0 2%;
  text-align: left;
  float: right;
  width: 82%;
  line-height: 1.6em;
  margin: 3.5% 0;
}
/* line 660, ../sass/common.scss */
#section11 .wrap .main11 .left11-03 {
  padding: 10% 0 0 4%;
  width: 36%;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 666, ../sass/common.scss */
#section11 .wrap .main11 .left11-03 img {
  width: 100%;
  height: auto;
}

/* line 677, ../sass/common.scss */
#section12 {
  background-color: #127083 !important;
}
/* line 679, ../sass/common.scss */
#section12 .wrap {
  height: 100%;
}
/* line 681, ../sass/common.scss */
#section12 .wrap .title {
  padding-bottom: 2%;
}
/* line 683, ../sass/common.scss */
#section12 .wrap .title img {
  width: 13%;
}
/* line 687, ../sass/common.scss */
#section12 .wrap .main12 {
  position: relative;
  width: 59.2%;
}
/* line 690, ../sass/common.scss */
#section12 .wrap .main12 > img {
  width: 100%;
}
/* line 693, ../sass/common.scss */
#section12 .wrap .main12 .dress {
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  text-align: left;
  z-index: 3;
  width: 50%;
}
/* line 700, ../sass/common.scss */
#section12 .wrap .main12 .dress img {
  width: 6%;
}
/* line 704, ../sass/common.scss */
#section12 .wrap .main12 .dress01 {
  bottom: 13.5%;
  right: -20%;
}
/* line 708, ../sass/common.scss */
#section12 .wrap .main12 .dress02 {
  bottom: 35%;
  right: 24%;
}
/* line 712, ../sass/common.scss */
#section12 .wrap .main12 .dress03 {
  bottom: 51%;
  right: 23%;
}
/* line 716, ../sass/common.scss */
#section12 .wrap .main12 .dress04 {
  right: -23.5%;
  top: 31.5%;
}

/* line 727, ../sass/common.scss */
#section13 {
  background-color: #127083 !important;
}
/* line 729, ../sass/common.scss */
#section13 .wrap {
  height: 100%;
}
/* line 732, ../sass/common.scss */
#section13 .wrap .title img {
  width: 34%;
}
/* line 736, ../sass/common.scss */
#section13 .wrap .main13-box {
  width: 77%;
  position: relative;
}
/* line 739, ../sass/common.scss */
#section13 .wrap .main13-box img {
  width: 100%;
  height: auto;
}
/* line 743, ../sass/common.scss */
#section13 .wrap .main13-box .main13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 757, ../sass/common.scss */
#section14 {
  background-color: #127083 !important;
}
/* line 759, ../sass/common.scss */
#section14 .wrap {
  height: 100%;
  text-align: center;
  padding-top: 20%;
}
/* line 763, ../sass/common.scss */
#section14 .wrap img {
  width: 38%;
}

/* line 4, ../sass/led.scss */
.wrap {
  width: 1280px;
}

/* line 7, ../sass/led.scss */
.title {
  padding: 5% 0 7%;
}

/* line 11, ../sass/led.scss */
#section1 .main01 {
  padding: 10% 0 0;
}
/* line 14, ../sass/led.scss */
#section1 .logo {
  bottom: 0.5%;
}

/* line 21, ../sass/led.scss */
#section2 .wrap .title01 {
  padding-top: 26%;
}

/* line 30, ../sass/led.scss */
#section3 .wrap .main03 .box01, #section3 .wrap .main03 .box02, #section3 .wrap .main03 .box03, #section3 .wrap .main03 .box04, #section3 .wrap .main03 .box05, #section3 .wrap .main03 .box06, #section3 .wrap .main03 .box07 {
  width: 8.5%;
}
/* line 34, ../sass/led.scss */
#section3 .wrap .main03 .box08 img {
  width: 81.8%;
  margin-left: 2.2%;
}

/* line 45, ../sass/led.scss */
#section6 .main06 .left06 {
  padding: 2% 0 0;
}

/* line 53, ../sass/led.scss */
#section8 .wrap .title {
  padding-bottom: 3%;
}
/* line 57, ../sass/led.scss */
#section8 .wrap .main08 .right08 {
  float: left;
  position: relative;
  width: 40%;
}

/* line 68, ../sass/led.scss */
#section9 .wrap .title {
  padding: 5% 0;
}
/* line 72, ../sass/led.scss */
#section9 .wrap .main09 .left09 {
  padding: 5% 0 0;
}

/* line 82, ../sass/led.scss */
#section10 .wrap .title {
  padding-bottom: 0;
}
/* line 86, ../sass/led.scss */
#section10 .wrap .main10 .right10 {
  margin-top: -5%;
}
/* line 88, ../sass/led.scss */
#section10 .wrap .main10 .right10 .rain02 {
  left: 36%;
}
/* line 91, ../sass/led.scss */
#section10 .wrap .main10 .right10 .rain03 {
  left: 41%;
}
/* line 94, ../sass/led.scss */
#section10 .wrap .main10 .right10 .rain04 {
  left: 30%;
}
/* line 97, ../sass/led.scss */
#section10 .wrap .main10 .right10 .rain06 {
  left: 23%;
}

/* line 107, ../sass/led.scss */
#section11 .wrap .title {
  padding-bottom: 2%;
}
/* line 111, ../sass/led.scss */
#section11 .wrap .main11 .left11-02 {
  width: 31%;
}

/* line 120, ../sass/led.scss */
#section12 .wrap .main12 {
  margin: -7% 0 0 15%;
  width: 59.2%;
}
/* line 123, ../sass/led.scss */
#section12 .wrap .main12 .dress02 {
  bottom: 35%;
  right: 13%;
}
/* line 127, ../sass/led.scss */
#section12 .wrap .main12 .dress03 {
  bottom: 51%;
  right: 16%;
}
/* line 132, ../sass/led.scss */
#section12 .wrap .title {
  padding-bottom: 0;
}
